@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #173F2B;
    --secondary-color: #2F7D4D;
    --text-color: #171A18;
    --soft-background: #BDC4B4;
    --muted-eucalyptus: #9CA78F;
  }

  label {
    @apply text-[12px] text-[#828282]
  }

  thead tr th{
    @apply font-[500]
  }